Thumbs.db
thumbs.db
.DS_Store
.DS_Store?
*.DS_Store
local.properties
libgame.so
*.iml
*.jsc
*.pid
*.class
*.o
*.o.d
*.log
*.swp
*.jsc
*.log
*.orig
*.app
~$*
simulator/
**/runtime/
frameworks/cocos2d-x/plugin/
client/tools/*/*
!client/tools/bindings-generator/test/
frameworks/runtime-src/proj.android/obj/
frameworks/runtime-src/proj.android/assets/

frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/obj/

frameworks/runtime-src/proj.android/.settings/
frameworks/runtime-src/proj.android/.cproject/
**/.idea/
**/node_modules/
.metadata/
.settings/
xcuserdata/
project.xcworkspace
build

*.pyc
publish/*
simulator/*
frameworks/runtime-src/proj.android/libs/
frameworks/cocos2d-x/
frameworks/cocos2d-html5/

frameworks/runtime-src/proj.android-studio/app/obj/local/armeabi/*
frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.android-studio/app/obj/local/armeabi/
frameworks/runtime-src/proj.android-studio/app/libs/
